{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>MyStore</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

    <nav class="navbar">

        <div class="logo">

            <a href="/shop/">
                MyStore
            </a>

        </div>

        <div class="nav-links">

            <a href="/shop/">
                Home
            </a>

            <a href="/dashboard/">
                Dashboard
            </a>

            <a href="/manage-products/">
                Manage Products
            </a>

            <a href="/wishlist/">
                Wishlist ❤️
            </a>

            <a href="/cart/">
                Cart ({{ cart_count }})
            </a>

        </div>

    </nav>

    {% block content %}

    {% endblock %}

</body>

</html>